@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white: #fff;
    --roxo: #402358;
    --Gray-2c2c2c: #2c2c2c;
    --gradient-Roxo: linear-gradient(
        to right, 
        #5B0BEE,
        #E12BFF, 
        #A61CF7, 
        #5B0BEE
    );
    --gradient-Red: linear-gradient(
        to right, 
        #FA5252, 
        #D32476
    );

    scroll-behavior: smooth;
    scroll-padding: 17rem;
}

::-webkit-scrollbar {
    width: 1px;
    height: 2px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #FA5252, #D32476);
    border-radius: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: block;
    margin-top: 0rem;
}
body {
    background-color: #001111;
    margin: 0rem;
    margin-top: -3rem;

    font-family: Antonio;
    -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
    font-family: Antonio;
}

a { 
    color: inherit;
    text-decoration: inherit;
}

ul  {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

:focus {
    outline: transparent;
    box-shadow: 0 0 0 2px var(--gradient-Roxo);
}

@media (max-width: 700px) {
    html {
        font-size: 87,5%;
    }
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
#Contact,#Project,#Techs,#About:target {
    animation: blink 1s; /* Define a duração da animação (1 segundo neste exemplo) */
}

#Project:target {
    animation: blink 1s; /* Define a duração da animação (1 segundo neste exemplo) */
}

#Techs:target {
    animation: blink 1s; /* Define a duração da animação (1 segundo neste exemplo) */
}

