main {
    display: flex;
    justify-content: center;
    width: 100%;

    background-image: linear-gradient(120deg,
            #a71cf7d8,
            #5B0BEE);

    color: var(--white);

    font-family: Roboto;
    font-weight: 300;
    font-size: medium;
}

.main__div {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 0rem;
    align-items: flex-start;

    margin-top: 4rem;
}

aside {
    text-align: center;

    max-height: 1050px;
    margin: 1rem;
    padding-bottom: 2rem;
    max-width: 340px;

    border-radius: 4px;
    background: #402358;

    box-shadow: 4px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

aside img {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__Line {
    height: 3px;
    width: 200px;
    background: linear-gradient(to right, #FA5252, #D32476);
    position: relative;

    border-radius: 0rem 0rem 10rem 10rem;
}

.profile__Banner {
    width: 100%;
    height: 82px;
    object-fit: cover;
}

.profile__divPhoto {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.profile__Img {
    width: 80%;
    border-radius: 8px;

    margin-top: -4rem;

    position: relative;
    z-index: 1;

    box-shadow: 4px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.profile__Icon {
    width: 30px;
    height: 30px;
}

.profile__IconLocation {
    width: 35px;
    height: 40px;
}

.profile__Occupation {
    margin: 0rem 4rem 0rem 4rem;
    padding: 0.3rem;
    max-width: 170px;
    margin-bottom: 0.6rem;

    background: var(--Gray-2c2c2c);
    box-shadow: 4px 5px 10px 0px rgba(0, 0, 0, 0.25);

    border: 1px solid transparent;
    border-image: var(--gradient-Roxo) 1;
}

/* .profile__Occupation::after { 
    content: '';
    height: 1px;
    display: block;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 0px 0px 10px 10px;
} */

.profile__Occupation h4 {
    background-image: var(--gradient-Roxo);

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    font-weight: 600;
}

.profile__Medias {
    margin: 0.5rem 0rem 2rem 0rem;
    display: flex;
}

.profile__Medias a {
    margin: 0rem 0.5rem;
    transition: 0.3s;
}

.profile__Medias a:hover {
    padding: 0rem 1rem;
    transition: 0.3s;
}

.profile__Informations {
    width: 300px;
    max-width: 90%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: solid 1px;
    border-image: linear-gradient(to right, #E12BFF, #A61CF7, #5B0BEE, #5B0BEE) 1;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background: var(--Gray-2c2c2c);
}

.profile__InfoGeneralStyle {
    display: flex;
    align-items: center;
    text-align: start;
    margin: 0.5rem 0rem;
    width: 100%;
    justify-content: space-around;
}

.profile__InfoGeneralStyle div {
    margin-bottom: 0.3rem;
}

.profile__InfoTitle {
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}

.profile__InfoP {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.profile__Skills {
    margin: 10px;

    border-radius: 10px;
    background: #402358;
    box-shadow: 4px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.profile__Title_Skills {
    display: flex;
    justify-content: left;
    align-items: center;

    margin: 0.5rem 0rem;
}

.profile__Title_Skills img {
    margin: 0rem 4rem 0rem 0.5rem;
}

.profile__Skills ul {
    display: flex;
    flex-direction: column;

    text-align: start;
    margin: 0.5rem 0rem;
}

.profile__Skills ul li {
    margin: 0.4rem 1rem;
}

.profile__Skills ul div {
    width: 100%;
}

section {
    height: 2000px;
    flex-shrink: 0;
    margin: 1rem;
    width: 95%;

    border-radius: 4px;
    background: #402358;
}

.profile__Techs > h2 {
    font-family: Roboto;
    font-size: 2.188rem;
    font-weight: 700;

    padding: 1rem 0rem;
}

.profile__Techs {
    padding-top: 7rem;
    text-align: start;

}

.profile__TechsOne div img { 
    width: 92px;
    height: 87px;
}

.profile__TechsOne div p { 
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}

.profile__TechsOne {
    width: 330px;
    height: 180px;

    border-radius: 5px;
    background: var(--2C2C2C, #2C2C2C);
    box-shadow: 4px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.profile__TechsOne {
    text-align: right;
}

.profile__TechsOne span {
    padding: 0rem 1rem;
}

.profile__TechsHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 0.7rem 0rem 0rem 0rem;
}

.profile__TechsImageAndP {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.profile__TechsImageAndP img {
    margin-left: 10px;
}


.profile__TechsImageAndP p {
   width: 220px;
   text-align: justify;
   padding: 0.5rem 1rem;
}
.profile__TechsOne + .profile__TechsOne {
    margin: 1rem 0rem;
} /* irá estilsar todo card que tiver um card anterior.  */

@media (max-width: 1040px) {
    .main__div {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        justify-content: center;
        align-items: center;
    }
    aside {
        max-width: 320px;
        height: 100%;
        max-height: 100%;

        display: flex;
        flex-direction: column;
    }
    .profile__Techs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0.5rem;
        padding-top: 1rem;
    }
    section {
        max-width: 100%;
    }
}

@media (max-width: 700px) {
    aside {
        max-width: 310px;
    }

    section {
        max-width: 80%;
    }
}
