main {
    display: flex;
    justify-content: center; 
    width: 100%;

    background-image: linear-gradient(
        120deg,
        #a71cf7d8,
        #5B0BEE
    );

    color: var(--white);

    font-family: Roboto;
    font-weight: 300;
    font-size: medium;
}

.main__div {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 0rem;
    align-items: flex-start;

    margin-top: 4rem;
}

aside {
    text-align: center;

    height: 1033px;
    margin: 1rem;

    border-radius: 4px;
    background: #402358;

    box-shadow: 4px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

aside img {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__Banner  {
    width: 100%;
    height: 82px;
    object-fit: cover;
}

.profile__divPhoto {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.profile__Img {
    width: 80%;
    border-radius: 8px;

    margin-top: -3rem;

    position: relative;
    z-index: 1;
}

.profile__Occupation {
    margin: 0rem 3rem 0rem 3rem;
    padding: 0.3rem;
    border-radius: 9px;

    margin-bottom: 0.6rem;

    background-color: var(--Gray-2c2c2c);
    box-shadow: 0px 5px 15px -12px;
}

.profile__Medias {
    margin: 0rem 0rem 1rem 0rem;
}

.profile__Medias a {
    margin: 0rem 0.5rem;
    transition: 0.3s;
}

.profile__Medias a:hover {
    padding: 1rem;
    transition: 0.3s;
}

.profile__Informations {
    width: 300px;
    max-width: 90%;
    height: 612px;

    border: solid 1px;
    border-image: linear-gradient(to right, #E12BFF, #A61CF7, #5B0BEE, #5B0BEE) 1;
    background-origin: border-box;
    background-clip: content-box, border-box;

    background: var(--Gray-2c2c2c);
}




section {
    max-width: 1000px;
    height: 2000px;
    flex-shrink: 0;
    margin: 1rem;

    border-radius: 4px;
    background: #402358;
}

